.menu{
    align-items: center;
    display:flex;
    border-radius: 5px;
}
.menu-item{
    padding: 1rem 2rem;
    color:var(--text-color);
    &:hover{
        transition: 0.5s;
        color:var(--color-light);
    }
}
.material-symbols-outlined{
    border-bottom: 2px solid var(--theme-);
    color:var(--text-color);
    &:hover{
        transition: 0.5s;
        color: var(--text-color);
    }
}
@media only screen and (min-width: 580px){
    .navbar{
        display:none;
    }
}
@media only screen and (max-width: 580px){
    .fuera{
        display:none;
    }
    .menu{
        flex-direction: column;
    }
}
.navbar{
    background-color: rgba(0, 0, 0, 0);
    .container-fluid{
        background-color: rgba(0, 0, 0, 0);
    }
}
.offcanvas-body{
    background-color: rgba(0, 0, 0, 0);
}
.text-bg{
    background-color: var(--theme-color);
}